<template>
  <span class="badge" :style="styleProps">{{ statusUppercaseLetter }}</span>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Status } from './types';
import { upperCaseFirstLetter } from '../../helpers/upperCaseFirstLetter';
import './styles.css';

export default defineComponent({
  props: {
    status: String,
  },
  setup(props) {
    const statusUppercaseLetter = upperCaseFirstLetter(props.status || '');

    const renderBadgeColor = (status: string) => {
      switch (status) {
        case Status.Active:
        case Status.Valid:
          return '#4ECD83'; // green
        case Status.Canceled:
          return '#DEDFE6'; // grey
        case Status.Expired:
          return '#F28283'; // red
        case Status.InActive:
          return '#FFAF45'; // orange
      }
    };

    return {
      renderBadgeColor,
      statusUppercaseLetter,
    };
  },
  computed: {
    styleProps() {
      return {
        backgroundColor: this.renderBadgeColor(this.status || '#4ECD83'),
      };
    },
  },

  mounted() {},
});
</script>
