.arrow-icon {
  margin-right: 13px;
}

.marginLeft {
  margin-left: 35px;
}

.dots-button {
  all: unset;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  width: 25px;
  display: flex;
  justify-content: center;
}

.user-fullname {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.active td {
  background-color: #effaf5;
}

.active td:first-child {
  background-color: #effaf5;
}

.active td:last-child {
  background-color: #effaf5;
}
