<template>
  <tr :class="{ active: isRowActive }" @click="handleRowClick('row', $event)">
    <td
      v-for="(header, index) in columns"
      :key="index"
      :class="
        column[header.key] === column['fullname'] &&
        !isSubgroupRow &&
        'user-fullname'
      "
    >
      <Checkbox
        v-if="index === 0"
        :isChecked="isCheckboxChecked"
        @handleCheckboxCheck="$emit('handleCheckboxCheck', $event)"
        :value="checkboxValue"
      />
      <img
        v-if="column[header.key] === column['fullname'] && !isSubgroupRow"
        :src="isRowActive ? ArrowDown : ArrowUp"
        class="arrow-icon"
        alt="arrow-down-icon"
        width="18px"
        height="10px"
      />
      <span
        v-if="
          column[header.key] !== column['userStatus'] &&
          column[header.key] !== column['status']
        "
        :class="{ marginLeft: isSubgroupRow && index === 1 }"
        >{{ column[header.key] }}</span
      >
      <div
        v-if="
          column[header.key] === column['userStatus'] &&
          column['userStatus'] !== undefined
        "
      >
        <Badge :status="`${column['userStatus']}`" />
      </div>
      <div
        v-if="
          column[header.key] === column['status'] &&
          column['status'] !== undefined
        "
      >
        <Badge :status="`${column['status']}`" />
      </div>
      <button
        v-if="index === columns.length - 1"
        class="dots-button"
        @click="handleRowClick('dots', $event)"
      >
        <img
          :src="ThreeDots"
          class="dots-icon"
          alt="dots-icon"
          width="15px"
          height="15px"
        />
      </button>
      <TableRowModal
        :isOpen="index === columns.length - 1 && isModalOpen"
        @close="handleOpenRowModal"
        :employeeName="column['fullname']"
      />
    </td>
  </tr>
</template>
<script lang="ts">
import { defineComponent, PropType, ref } from 'vue';
import { TableColumns } from '../../../../types';
import Checkbox from '../../../../../Checkbox/Checkbox.vue';
import Badge from '../../../../../Badge/Badge.vue';
import ArrowDown from '../../../../../../assets/arrow-down.svg';
import ArrowUp from '../../../../../../assets/arrow-up.svg';
import ThreeDots from '../../../../../../assets/three-dots-line-icon.svg';
import TableRowModal from '../TableRowModal/TableRowModal.vue';
import './styles.css';

export default defineComponent({
  components: {
    Checkbox,
    Badge,
    TableRowModal,
  },

  props: {
    columns: { type: Object as () => TableColumns[], required: true },
    column: { type: Object as PropType<Record<string, any>>, required: true },
    isCheckboxChecked: { type: Boolean, required: true },
    checkboxValue: { type: Number, required: true },
    isRowActive: { type: Boolean },
    isSubgroupRow: { type: Boolean },
  },

  setup() {
    const isModalOpen = ref<boolean>(false);

    const handleOpenRowModal = (event: Event) => {
      event.stopPropagation();
      isModalOpen.value = !isModalOpen.value;
    };

    return {
      handleOpenRowModal,
      ArrowUp,
      ArrowDown,
      ThreeDots,
      isModalOpen,
    };
  },

  methods: {
    handleRowClick(clickAction: string, event: Event) {
      switch (clickAction) {
        case 'dots':
          event.stopPropagation();
          this.handleOpenRowModal(event);
          break;
        default:
          event.stopPropagation();
          this.$emit('rowClick');
      }
    },
  },
});
</script>
