table tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  padding: 0px 20px;
  background-color: white;
}

table th:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
  background-color: white;
}

table th {
  padding: 15px 12px 10px 15px;
}

table th:not(:first-child) {
  border-left: 1px solid lightgrey;
}

table th:nth-child(10) {
  border-right: 1px solid lightgrey;
}

table th:last-child {
  border-left: 1px solid transparent;
}

.table-header-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refresh-button {
  all: unset;
  cursor: pointer;
}

.sort-buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.sort-button {
  all: unset;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 7px;
  right: 0;
  top: 0;
  z-index: 1;
  border-right: 1px solid transparent;
}

.resize-handle:hover {
  border-right: 1px solid #eeeeee;
}

.resize-handle.active {
  border-right: 1px solid #eeeeee;
}
