<template>
  <tr>
    <th v-for="(column, index) in columns" :key="index" ref="columnCells">
      <Checkbox
        v-if="index === 0"
        :isChecked="isHeaderCheckboxChecked"
        :value="'allCheckboxes'"
        @handleCheckboxCheck="$emit('handleHeaderCheckboxCheck', $event)"
      />
      <div
        class="table-header-item-wrapper"
        v-if="index !== 0 && index !== columns.length - 1"
      >
        <span>{{ column.name }}</span>
        <div class="sort-buttons-wrapper">
          <button
            v-for="(button, index) in sortButtons"
            :key="index"
            :title="button.action"
            @click="
              $emit(
                'sort',
                { sortBy: column.sortType, order: button.action },
                $event
              )
            "
            class="sort-button"
          >
            <img :src="button.icon" alt="arrow-icon" />
          </button>
        </div>
      </div>
      <div
        @mousedown="mouseDown(index)"
        :style="{ height: `${tableHeight}px` }"
        :class="[`resize-handle ${activeIndex === index ? 'active' : 'idle'}`]"
      ></div>
      <button
        v-if="index === 10"
        class="refresh-button"
        title="Refresh"
        @click="$emit('refresh', $event)"
      >
        <img :src="RefreshIcon" alt="refresh-icon" width="20px" height="20px" />
      </button>
    </th>
  </tr>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import Checkbox from '../../../Checkbox/Checkbox.vue';
import { tableHeadersSortButtons } from './data';
import RefreshIcon from '../../../../assets/refresh-icon.svg';
import { TableColumns } from '../../types';
import './styles.css';

export default defineComponent({
  components: {
    Checkbox,
  },

  props: {
    columns: { type: Object as () => TableColumns[], required: true },
    tableHeight: { type: Number, required: true },
    getTableRef: { type: Function, default: () => ({}), required: true },
    isHeaderCheckboxChecked: { type: Boolean, required: true },
  },

  data() {
    return {
      activeIndex: null,
      minCellWidth: 95,
      sortButtons: tableHeadersSortButtons,
      tableRef: null,
    };
  },

  setup() {
    const columnCells = ref<InstanceType<typeof HTMLTableCellElement>>();
    return { columnCells, RefreshIcon };
  },

  methods: {
    mouseDown(index: any) {
      this.activeIndex = index;
      window.addEventListener('mousemove', this.mouseMove);
      window.addEventListener('mouseup', this.mouseUp);
    },

    mouseMove(event: MouseEvent) {
      const gridColumns = (this.$refs.columnCells as Array<HTMLElement>).map(
        (column: HTMLElement, index: number) => {
          if (this.activeIndex === index) {
            // Calculate the column width
            const width = event.clientX - column.offsetLeft;
            if (width >= this.minCellWidth) {
              return `${width}px`;
            }
          }
          // Otherwise return the previous width (no changes)
          return `${column.offsetWidth}px`;
        }
      );
      // Assign the px values to the table
      if (this.tableRef !== null)
        (
          this.tableRef as InstanceType<typeof HTMLTableElement>
        ).style.gridTemplateColumns = `${gridColumns.join(' ')}`;
    },

    removeListeners() {
      window.removeEventListener('mousemove', this.mouseMove);
      window.removeEventListener('mouseup', this.removeListeners);
    },

    mouseUp() {
      this.activeIndex = null;
      this.removeListeners();
    },
  },
  mounted() {
    this.tableRef = this.getTableRef();
  },
});
</script>
