.modal-wrapper {
  position: absolute;
  top: 35px;
  right: 65px;
  display: inline;
  background: white;
  z-index: 3;
  min-width: 100%;
  height: 220px;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 6px;
}

p {
  margin-top: 7px;
}

.close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  all: unset;
  width: 25px;
  height: 25px;
}
