<template>
  <div class="modal-wrapper" v-if="isOpen" @click.stop="">
    <div class="close-button-wrapper">
      <button class="close-button" @click="$emit('close', $event)">
        <img :src="CloseIcon" alt="close-icon" width="25px" height="25px" />
      </button>
    </div>
    <p>{{ employeeName }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import CloseIcon from '../../../../../../assets/close-icon.svg';
import './styles.css';

export default defineComponent({
  components: {},
  props: {
    isOpen: Boolean,
    employeeName: String,
  },
  setup() {
    return { CloseIcon };
  },

  mounted() {},
});
</script>
