<template>
  <template v-for="data in tableData" :key="data.id">
    <TableRow
      @rowClick="handleTableRowClick(data.id)"
      @handleCheckboxCheck="handleGroupCheckboxChecked"
      :columns="columns"
      :column="data"
      :isCheckboxChecked="isGroupChecked(data.id)"
      :checkboxValue="data.id"
      :isRowActive="isTableRowExpanded(data.id)"
    />
    <template v-if="isTableRowExpanded(data.id)">
      <TableRow
        v-for="(item, index) in renderSubgroupData(data.id)"
        :key="index"
        :columns="columns"
        :column="item"
        @handleCheckboxCheck="handleSubgroupCheckboxChecked($event, data.id)"
        :isCheckboxChecked="isSubgroupCheckboxChecked(data.id, index)"
        :checkboxValue="index"
        isSubgroupRow
      />
    </template>
  </template>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect } from 'vue';
import { TableColumns, TableData } from '../../types';
import ArrowDown from '../../../../assets/arrow-down.svg';
import ArrowUp from '../../../../assets/arrow-up.svg';
import ThreeDots from '../../../../assets/three-dots-line-icon.svg';
import { SubgroupTableRows, GroupCheckboxesChecked } from './types';
import Checkbox from '../../../Checkbox/Checkbox.vue';
import Badge from '../../../Badge/Badge.vue';
import TableRow from './components/TableRow/TableRow.vue';

export default defineComponent({
  components: {
    Checkbox,
    Badge,
    TableRow,
  },
  props: {
    tableData: { type: Object as () => TableData[], required: true },
    columns: { type: Object as () => TableColumns[], required: true },
    isHeaderCheckboxChecked: { type: Boolean, required: true },
  },
  setup(props) {
    const tableRowExpanded = ref([-1]);
    const groupCheckboxesChecked = ref<GroupCheckboxesChecked[]>([]);
    const subgroupTableData = ref<SubgroupTableRows[]>([]);

    const createSubgroupData = (id: number) => {
      const employee = props.tableData.find((item) => {
        return item.id === id;
      });
      if (subgroupTableData.value.filter((item) => item.id === id).length > 0)
        return;
      else
        subgroupTableData.value.push({
          id: employee?.id,
          data: [
            {
              fullname: 'Psichinės sveikatos patikra',
              code: '0000',
              expiration: `${employee?.mental_health_expiration}`,
              status: `${employee?.mental_health_status}`,
            },
            {
              fullname: 'Fizinės sveikatos patikra',
              code: '0001',
              expiration: `${employee?.physical_health_expiration}`,
              status: `${employee?.physical_health_status}`,
            },
            {
              fullname: 'Darbo prie kompiuterio pažyma',
              code: '0002',
              expiration: `${employee?.computer_work_expiration}`,
              status: `${employee?.computer_work_status}`,
            },
          ],
        });
    };

    const handleTableRowClick = (id: number) => {
      const tableRowIndex = tableRowExpanded.value.indexOf(id);
      const subgroupIndex = subgroupTableData.value.findIndex((item) => {
        return item.id === id;
      });
      if (tableRowIndex > -1) {
        subgroupTableData.value.splice(subgroupIndex, 1);
        tableRowExpanded.value.splice(tableRowIndex, 1);
      } else {
        tableRowExpanded.value.push(id);
        createSubgroupData(id);
      }
    };

    const renderSubgroupData = (id: number) => {
      const data = subgroupTableData.value.find((item) => {
        return item.id === id;
      });
      return data?.data;
    };

    const isTableRowExpanded = (id: number): boolean => {
      if (tableRowExpanded.value.includes(id)) return true;
      return false;
    };

    const handleGroupCheckboxChecked = (event: Event) => {
      if (event.target && (<HTMLInputElement>event.target).checked) {
        groupCheckboxesChecked.value.push({
          group_id: Number((<HTMLInputElement>event.target).value),
          subgroups: [0, 1, 2],
        });
      }
      if (event.target && !(<HTMLInputElement>event.target).checked) {
        const group = groupCheckboxesChecked.value.findIndex((item) => {
          return (
            item.group_id === Number((<HTMLInputElement>event.target).value)
          );
        });
        groupCheckboxesChecked.value.splice(group, 1);
      }
    };

    const handleSubgroupCheckboxChecked = (event: Event, id: number) => {
      const group = groupCheckboxesChecked.value.find(
        (group) => group.group_id === id
      );
      if (event.target && (<HTMLInputElement>event.target).checked) {
        if (group)
          group.subgroups.push(Number((<HTMLInputElement>event.target).value));
        else
          groupCheckboxesChecked.value.push({
            group_id: id,
            subgroups: [Number((<HTMLInputElement>event.target).value)],
          });
      }
      if (event.target && !(<HTMLInputElement>event.target).checked) {
        const value = group?.subgroups.indexOf(
          Number((<HTMLInputElement>event.target).value)
        );
        group?.subgroups.splice(value ?? 0, 1);
      }
    };

    const isGroupChecked = (id: number): boolean => {
      const object = groupCheckboxesChecked.value.find(
        (item) => item.group_id === id
      );
      if (object) return true;
      return false;
    };

    const isSubgroupCheckboxChecked = (id: number, index: number) => {
      const group = groupCheckboxesChecked.value.find(
        (item) => item.group_id === id
      );
      if (group?.subgroups.includes(index)) return true;
      return false;
    };

    watchEffect(() => {
      if (props.isHeaderCheckboxChecked)
        props.tableData.forEach((item) => {
          groupCheckboxesChecked.value.push({
            group_id: item.id,
            subgroups: [],
          });
        });
      if (!props.isHeaderCheckboxChecked) groupCheckboxesChecked.value = [];
    });

    return {
      handleTableRowClick,
      isTableRowExpanded,
      ArrowDown,
      ArrowUp,
      ThreeDots,
      handleGroupCheckboxChecked,
      handleSubgroupCheckboxChecked,
      isGroupChecked,
      renderSubgroupData,
      isSubgroupCheckboxChecked,
    };
  },
});
</script>
