<template>
  <label class="custom-checkbox">
    <input
      type="checkbox"
      @change="$emit('handleCheckboxCheck', $event)"
      :checked="isChecked"
      :value="value"
    />
    <span class="checkmark"></span>
  </label>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import './styles.css';

export default defineComponent({
  components: {},
  props: {
    isChecked: {
      type: Boolean,
      required: true,
    },
    value: { type: [String, Number], required: true },
  },

  setup() {
    return {};
  },

  mounted() {},
});
</script>
