.custom-checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: relative;
  display: inline-block;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 1px solid grey;
  cursor: pointer;
  background-color: white;
}

.custom-checkbox .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #4ecd83;
  border: 1px solid #4ecd83;
}
