.footer-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid lightgrey;
  height: 70px;
}

.default-padding {
  padding: 0px 25px;
}

.border {
  border-right: 1px solid lightgrey;
  height: 100%;
  display: flex;
  align-items: center;
}

.total-number {
  margin-left: 7px;
}

.center-content {
  display: flex;
  width: 270px;
  justify-content: space-between;
}

.pagination-buttons-wrapper {
  display: flex;
  width: 95px;
  justify-content: space-between;
}

.default-button {
  all: unset;
  cursor: pointer;
}

.right-content {
  width: 899px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-input {
  width: 35px;
  height: 35px;
  font-size: 18px;
  font-weight: 300;
  margin-left: 7px;
  margin-right: 25px;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
}

.show {
  margin-right: 15px;
}

.active-per-page-button {
  all: unset;
  background-color: #4ecd83;
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
}

.per-page-button {
  all: unset;
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
}
