<template>
  <div class="footer-container">
    <div class="default-padding border">
      <b>Total:</b><span class="total-number">{{ total }}</span>
    </div>
    <div class="default-padding center-content border">
      <span>Page {{ currentPage }} / {{ totalPages }}</span>
      <div class="pagination-buttons-wrapper">
        <button
          class="default-button"
          v-for="(button, index) in paginationButtons"
          :key="index"
          @click="$emit('buttonClick', button.action, $event)"
        >
          <img :src="button.icon" alt="arrow" width="35px" />
        </button>
      </div>
    </div>
    <div class="default-padding right-content">
      <div style="display: flex; align-items: center">
        <b>Jump to:</b>
        <input
          class="page-input"
          type="text"
          name="page"
          id="page"
          :value="jumpToPage"
          @change="getJumpToPage"
        />
        <button
          class="default-button"
          @click="$emit('jumpToPage', pageIndex, $event)"
        >
          <img :src="EnterIcon" alt="enter icon" width="25px" />
        </button>
      </div>
      <div>
        <b class="show">Show:</b>
        <button
          v-for="(item, index) in tableSizesPerPage"
          :key="index"
          :class="[
            currentTableSize === item
              ? 'active-per-page-button'
              : 'per-page-button',
          ]"
          @click="[$emit('tableSize', item, $event), setCurrentTableSize(item)]"
        >
          {{ item }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { paginationButtons } from './data';
import EnterIcon from '../../../../assets/enter-icon.svg';
import './styles.css';

export default defineComponent({
  props: {
    total: Number,
    currentPage: Number,
    totalPages: Number,
  },
  setup() {
    const tableSizesPerPage = ['10', '20', '30'];
    const currentTableSize = ref(tableSizesPerPage[0]);
    const jumpToPage = ref(1);
    const pageIndex = ref(0);

    const setCurrentTableSize = (value: string) => {
      currentTableSize.value = value;
    };

    const getJumpToPage = (event: Event) => {
      if (event.target) {
        jumpToPage.value = Number((<HTMLInputElement>event.target).value);
        pageIndex.value = jumpToPage.value - 1;
      }
    };

    return {
      paginationButtons,
      tableSizesPerPage,
      currentTableSize,
      setCurrentTableSize,
      getJumpToPage,
      jumpToPage,
      pageIndex,
      EnterIcon,
    };
  },

  mounted() {},
});
</script>
