.table-wrapper {
  height: 610px;
  overflow: auto;
  border: 1px solid lightgrey;
  border-radius: 6px;
}

table {
  width: 100%;
  display: grid;
  border-collapse: collapse;
  white-space: nowrap;
  table-layout: fixed;
  grid-template-columns:
    minmax(70px, 1fr)
    minmax(300px, 1fr)
    minmax(109px, 1fr)
    minmax(150px, 1fr)
    minmax(120px, 1fr)
    minmax(164px, 1fr)
    minmax(157px, 1fr)
    minmax(135px, 1fr)
    minmax(142px, 1fr)
    minmax(120px, 1fr)
    minmax(65px, 1fr);
}

table thead,
table tbody,
table tr {
  display: contents;
}

table tr td:first-child {
  position: sticky;
  left: 0;
  padding: 0px 25px;
  background-color: white;
}

table tr td:last-child {
  position: sticky;
  right: 0;
  padding: 20px;
  background-color: white;
}

table tr:hover td {
  background-color: #f3f3f3;
}

table tr:hover td:first-child {
  background-color: #f3f3f3;
}

table tr:hover td:last-child {
  background-color: #f3f3f3;
}

table th {
  position: relative;
  font-size: 16px;
}

table td {
  font-weight: 300;
  padding: 0px 20px;
  cursor: pointer;
}

table th,
table td {
  align-content: center;
  user-select: none;
}

table th span,
table td span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

table tr td {
  border-bottom: 1px solid #ccc;
}

/* width */
.table-wrapper::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
/* Track */
.table-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #f1efef;
  border-radius: 10px;
}
/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 10px;
}
/* Handle on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #b4b4b3;
  cursor: pointer;
}
