<template>
  <div style="width: 100%">
    <div class="table-wrapper">
      <table class="resizeable-table" ref="table">
        <thead>
          <TableHeader
            :columns="tableColumns"
            @sort="sortByColumn"
            :tableHeight="headerHeight"
            :getTableRef="() => $refs['table']"
            @handleHeaderCheckboxCheck="handleTableHeaderCheckboxChecked"
            :isHeaderCheckboxChecked="isHeaderCheckboxChecked"
            @refresh="refreshTable"
          />
        </thead>
        <tbody>
          <TableBody
            :tableData="data"
            :columns="tableColumns"
            :isHeaderCheckboxChecked="isHeaderCheckboxChecked"
          />
        </tbody>
      </table>
    </div>
    <TableFooter
      :total="tableData.length"
      :currentPage="currentPage + 1"
      :totalPages="totalPages()"
      @buttonClick="handlePageChange"
      @tableSize="updatePageSize"
      @jumpToPage="updatePage"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import TableBody from './components/TableBody/TableBody.vue';
import TableHeader from './components/TableHeader/TableHeader.vue';
import TableFooter from './components/TableFooter/TableFooter.vue';
import { tableColumns, tableData } from './data';
import { SortArguments, SortableTableData } from './types';
import { PaginationButtonAction } from './components/TableFooter/types';
import './styles.css';

export default defineComponent({
  components: {
    TableHeader,
    TableBody,
    TableFooter,
  },

  setup() {
    const data = ref([...tableData]);
    const currentPage = ref(0);
    const pageSize = ref(10);
    const isHeaderCheckboxChecked = ref(false);
    const table = ref<InstanceType<typeof HTMLTableElement>>();

    const sortByColumn = (args: SortArguments) => {
      data.value = data.value.sort((a, b) => {
        return (args.order === 'ASC' ? a : b)[
          args.sortBy as keyof SortableTableData
        ].localeCompare(
          (args.order === 'ASC' ? b : a)[args.sortBy as keyof SortableTableData]
        );
      });
    };

    const updatePage = (page: number) => {
      currentPage.value = page;
      updateTableData();
    };

    const updateTableData = () => {
      data.value = tableData.slice(
        currentPage.value * pageSize.value,
        currentPage.value * pageSize.value + pageSize.value
      );
    };

    const handlePageChange = (action: PaginationButtonAction) => {
      switch (action) {
        case PaginationButtonAction.Forwards:
          if (currentPage.value === totalPages() - 1) return;
          updatePage(currentPage.value + 1);
          break;
        case PaginationButtonAction.Backwards:
          if (currentPage.value === 0) return;
          updatePage(currentPage.value - 1);
          break;
      }
    };

    const totalPages = (): number => {
      return Math.ceil(tableData.length / pageSize.value);
    };

    const updatePageSize = (size: number) => {
      pageSize.value = size;
      updateTableData();
    };

    const handleTableHeaderCheckboxChecked = (event: Event) => {
      isHeaderCheckboxChecked.value = (<HTMLInputElement>event.target).checked;
    };

    return {
      table,
      data,
      tableColumns,
      tableData,
      currentPage,
      sortByColumn,
      updateTableData,
      handlePageChange,
      totalPages,
      updatePageSize,
      updatePage,
      handleTableHeaderCheckboxChecked,
      isHeaderCheckboxChecked,
    };
  },

  data() {
    return {
      headerHeight: 65,
      data: tableData,
    };
  },

  methods: {
    refreshTable() {
      this.currentPage = 0;
      this.updateTableData();
      if (this.$refs.table)
        (
          this.$refs.table as InstanceType<typeof HTMLTableElement>
        ).style.gridTemplateColumns = '';
    },
  },

  mounted() {
    this.updateTableData();
  },
});
</script>
