<template>
  <div class="app-container">
    <Table />
  </div>
</template>

<script lang="ts">
import Table from './components/Table/Table.vue';
import { defineComponent } from 'vue';
import './style.css';

export default defineComponent({
  components: {
    Table,
  },
  setup() {
    return {};
  },
  mounted() {},
});
</script>
