* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  /* margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh; */
}

.app-container {
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
}
